{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container text-center p-5  mt-3" style="border: 1px solid black; border-radius: 1%">
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    <div class="row p-3">
        <div class="col-2">{{ form_label(registrationForm.name) }}</div>
        <div class="col-10">{{ form_widget(registrationForm.name, { attr: { class: 'form-control' } }) }}</div>
        {% for error in registrationForm.name.vars.errors %}
            <div class="col-12 text-danger">{{ error.message }}</div>
        {% endfor %}
    </div>
    <div class="row p-3">
        <div class="col-2">{{ form_label(registrationForm.username) }}</div>
        <div class="col-10">{{ form_widget(registrationForm.username, { attr: { class: 'form-control' } }) }}</div>
        {% for error in registrationForm.username.vars.errors %}
            <div class="col-12 text-danger">{{ error.message }}</div>
        {% endfor %}
    </div>
    <div class="row p-3">
        <div class="col-2">{{ form_label(registrationForm.email) }}</div>
        <div class="col-10">{{ form_widget(registrationForm.email, { attr: { class: 'form-control' } }) }}</div>
        {% for error in registrationForm.email.vars.errors %}
            <div class="col-12 text-danger">{{ error.message }}</div>
        {% endfor %}
    </div>
    <div class="row p-3">
        <div class="col-2">{{ form_label(registrationForm.plainPassword.first, 'Password') }}</div>
        <div class="col-10">{{ form_widget(registrationForm.plainPassword.first, { attr: { class: 'form-control' } }) }}</div>
        {% for error in registrationForm.plainPassword.first.vars.errors %}
            <div class="col-12 text-danger">{{ error.message }}</div>
        {% endfor %}
    </div>
    <div class="row p-3">
        <div class="col-2">{{ form_label(registrationForm.plainPassword.second, 'Confirm Password') }}</div>
        <div class="col-10">{{ form_widget(registrationForm.plainPassword.second, { attr: { class: 'form-control' } }) }}</div>
        {% for error in registrationForm.plainPassword.second.vars.errors %}
            <div class="col-12 text-danger">{{ error.message }}</div>
        {% endfor %}
    </div>
    <a class="btn btn-info" href="{{ path('login') }}">Back to Login</a>
    <button type="submit" class="btn btn-info">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
