{% extends 'base.html.twig' %}

{% block title %}Review Details{% endblock %}

{% block body %}
    <h1>Review Details</h1>

    <ul>
        <li><strong>ID:</strong> {{ review.id }}</li>
        <li><strong>Book:</strong> {{ review.book.title }}</li>
        <li><strong>User:</strong> {{ review.user.userName }}</li>
        <li><strong>Rating:</strong> {{ review.rating }}</li>
        <li><strong>Content:</strong> {{ review.content }}</li>
        <li><strong>Status:</strong> {{ review.status }}</li>
        <li><strong>Edited:</strong> {{ review.edited ? 'Edited' : 'Not Edited' }}</li>

    </ul>

    <a href="{{ path('admin_reviews') }}">Back to list</a>
    {% if review.status == 'pending' %}
        <a href="{{ path('admin_review_approve', {id: review.id}) }}">Approve</a>
        <a href="{{ path('admin_review_reject', {id: review.id}) }}">Reject</a>
    {% elseif review.status == 'approved' %}
        <a href="{{ path('admin_review_reject', {id: review.id}) }}">Reject</a>
    {% elseif review.status == 'rejected' %}
        <a href="{{ path('admin_review_approve', {id: review.id}) }}">Approve</a>
    {% endif %}
    <form method="post"
          action="{{ path('admin_review_delete', {id: review.id}) }}"
          style="display:inline;"
          data-confirm="Are you sure you want to delete this review?"
          data-confirm-title="Delete Review"
          data-confirm-action="delete">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>
{% endblock %}