{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(form) }}
        {{ form_row(form.coverImage) }}
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.description) }}
        {{ form_row(form.publishedYear) }}
        <hr>
        <button class="btn btn-success mt-3">Save changes</button>

        {{ form_end(form) }}
        <a class="btn btn-info mt-3" href="{{ path('book_index') }}">back to list</a>
    {% else %}
        {{ form_start(formBook) }}
        {% if book.coverImage %}
            <img src="{{ book.coverImage }}" alt="{{ book.title }}" class="img-thumbnail" width="150">
        {% endif %}
        <p><strong>Title:</strong> {{ book.title }}</p>
        <p><strong>Author:</strong> {{ book.author ?? 'Not set' }}</p>
        <p><strong>Description:</strong> {{ book.description ?? 'Not set' }}</p>
        <p><strong>Published year:</strong> {{ book.publishedYear ?? 'Not set' }}</p>
        <p><strong>Status:</strong>
            {% if formBook.status.vars.value == 'finished' %}
                {{ form_widget(formBook.status, { 'attr': {'class': 'form-control', 'disabled': 'disabled'} }) }}
            {% else %}
                {{ form_widget(formBook.status, { 'attr': {'class': 'form-control'} }) }}
            {% endif %}
        </p>
        <hr>
        {% if formBook.status.vars.value != 'finished' %}
        <button class="btn btn-success mt-3">Save changes</button>
        {% endif %}
        {{ form_end(formBook) }}
        <a class="btn btn-info mt-3" href="{{ path('book_index') }}">back to list</a>
    {% endif %}


{% endblock %}
