{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Published Year</th>
                <th>Description</th>
                {% if not is_granted('ROLE_ADMIN') %}
                    <th>Status</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publishedYear }}</td>
                <td>
                    {% if book.description|length > 50 %}
                        {{ book.description|slice(0, 50) ~ '...' }}
                    {% else %}
                        {{ book.description }}
                    {% endif %}
                </td>
                {% for ub in book.userBooks %}
                    {% if ub.user.id == app.user.id %}
                        <td>{{ ub.status }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a class="btn btn-info" href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('book_new') }}">Create new</a>
{% endblock %}
