{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>
    {{ form_start(form) }}
{#    {{ form_widget(form) }}#}
    {{ form_row(form.coverImage) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.description) }}
    {{ form_row(form.publishedYear) }}
{#    {{ form_row(form.userBook) }}#}
    {% if not is_granted('ROLE_ADMIN') %}
        <label>Status</label>
        <select name="user_book_status">
            <option value="pending">Pending</option>
            <option value="reading">Reading</option>
            <option value="finished">Finished</option>
        </select>
    {% endif %}

    <hr>

    <button class="btn btn-success mt-3">Save changes</button>
    {{ form_end(form) }}
{#    {{ include('book/_form.html.twig') }}#}

    <a href="{{ path('book_index') }}">back to list</a>
{% endblock %}
