<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addToLibraryModal{{ book.id }}" id="addToLibraryButton">
    Add to Library
</button>
<div class="modal fade" id="addToLibraryModal{{ book.id }}" tabindex="-1" aria-labelledby="addToLibraryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{{ path('book_add_to_library', {'id': book.id}) }}" >
                <div class="modal-header">
                    <h5 class="modal-title" id="addToLibraryModalLabel">Have you read the book?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="btn-group-vertical w-100" role="group" aria-label="Library status">
                        <input type="radio" class="btn-check" name="status" id="statusPending{{ book.id }}" value="pending" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-status w-100 mb-2" for="statusPending{{ book.id }}">Not yet</label>

                        <input type="radio" class="btn-check" name="status" id="statusReading{{ book.id }}" value="reading" autocomplete="off">
                        <label class="btn btn-outline-warning btn-status w-100 mb-2" for="statusReading{{ book.id }}">Reading</label>

                        <input type="radio" class="btn-check" name="status" id="statusFinished{{ book.id }}" value="finished" autocomplete="off">
                        <label class="btn btn-outline-success btn-status w-100" for="statusFinished{{ book.id }}">Finished</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>