{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}
    <h1>Review</h1>

    <p><strong>Book:</strong> {{ book.title }}</p>
    <p><strong>Content:</strong> {{ review.content ?? 'Not set' }}</p>
    <p><strong>Rating:</strong> {{ review.rating ?? 'Not set' }}</p>
{#    <p><strong>Fav. Book:</strong> {{ user.favBook ?? 'Not set' }}</p>#}
{#    <p><strong>Currently Reading:</strong> {{ user.currentlyReading ?? 'Not set' }}</p>#}
{#    <p><strong>Fav. Genres:</strong>  {{ user.favGenres|join(', ') }} </p>#}
{#    <p><strong>Joined at:</strong>  {{ user.joinedAt|date }} </p>#}


{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ review.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Content</th>#}
{#                <td>{{ review.content }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Rating</th>#}
{#                <td>{{ review.rating }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}

    <a href="{{ path('review_index') }}">back to list</a>

    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>

    <form action="{{ path('review_delete', {'id': review.id}) }}" method="post" style="display:inline;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">
        <button class="btn btn-danger" type="submit">Delete Review</button>
    </form>
{% endblock %}
