{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Club index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.name }}</td>
                <td>{{ club.description }}</td>
                <td>{{ club.genre.name }}</td>
                <td>{{ club.createdBy.username }}</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                    <a class="btn btn-info" href="{{ path('club_show', {'id': club.id}) }}">show</a>
                    {% if app.user %}
                        {% if club.members.contains(app.user) %}
                            <form method="post" action="{{ path('club_leave', {id: club.id}) }}">
                                <button type="submit" class="btn btn-danger">Leave club</button>
                            </form>
                        {% else %}
                            <form method="post" action="{{ path('club_join', {id: club.id}) }}">
                                <button type="submit" class="btn btn-success">Join club</button>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if club.createdBy == app.user or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a>
                        {{ include('club/_delete_form.html.twig') }}
                    {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('club_new') }}">Create new</a>
{% endblock %}
