{% extends 'base.html.twig' %}

{% block title %}{{ user.name }}'s Profile{% endblock %}

{% block body %}
    <h1>{{ user.userName }}'s Profile</h1>

    <img src="{{ user.profileImage }}" alt="{{ user.name }}" class="img-thumbnail profile-img">
    <p><strong>Bio:</strong> {{ user.bio ?? 'Not set' }}</p>
    <p><strong>Fav. Book:</strong> {{ user.favBook ?? 'Not set' }}</p>
    <p><strong>Currently Reading:</strong> {{ user.currentlyReading ?? 'Not set' }}</p>
    <p><strong>Fav. Genres:</strong>  {{ user.favGenres|join(', ') }} </p>
    <p><strong>Joined at:</strong>  {{ user.joinedAt|date }} </p>
    <p><strong>Total Reviews Written</strong>  {{ totalReviews }} </p>

    <hr>

    <button class="btn btn-secondary" onclick="window.history.back();">Back</button>
    <a class="btn btn-primary" href="{{ path('user_library', {'id': user.id}) }}" class="btn btn-link mt-2">View {{ user.username }}'s library</a>
{% endblock %}